package conntrackmon

config conntrackmon 'conntrackmon'
	# net.core.rmem_default = 212992
	option buffer_size '10485760'

	list event_mask 'NEW'
	list event_mask 'DESTROY'

	# run these sed expression on conntrack output
	list sed_filter '/ src=192\.168\.2\.(10[01]) /d'
	list sed_filter '/ ipv6 /d'
	list sed_filter 's/ipv4/IPv4/'
